<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ControleMoldagem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ControleMoldagem.Properties.Settings.ControleMoldagemConnectionString"
            connectionString="Data Source=VITOR-PC\SQLEXPRESS;Initial Catalog=ControleMoldagem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ControleMoldagem.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=VITOR-PC\SQLEXPRESS;Initial Catalog=ControleMoldagem;Integrated Security=True</value>
            </setting>
            <setting name="Printer" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="NumberCopies" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PreviewPrint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstAcess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Module" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>7C87541FD3F3EF5016E12D411900C87A6046A8E8</value>
            </setting>
        </ControleMoldagem.Properties.Settings>
    </userSettings>
</configuration>